/* // Cards core block */
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: var(--spacing-m);
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
}

.blog {
  background-color: var(--color-western-snow);
  box-shadow: 0 0 0 100vmax var(--color-western-snow);
  clip-path: inset(0 -100vmax);

  h2 {
    margin-bottom: var(--spacing-xs);
  }
}

/* Base styles for flexible cards */
.flexible-cards {
  margin: var(--spacing-l) 0;
}

.flexible-cards ul {
  column-count: 1;
  column-gap: var(--spacing-s);
  margin: 0 auto;
  display: block;
}

/* Styles for list items */
.flexible-cards ul > li {
  break-inside: avoid;
  margin-bottom: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (width >= 900px) {
  .flexible-cards ul > li {
    margin-bottom: var(--spacing-m);
  }
}

/* Styles for card images */
.flexible-cards .card-image {
  aspect-ratio: auto;
  object-fit: cover;
  margin-bottom: var(--spacing-xxs);
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
}

.flexible-cards .card-image img {
  aspect-ratio: auto;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.flexible-cards .card-image:is(:hover, :focus) img {
  opacity: 90%;
  transform: scale(1.05);
}

/* Styles for card title and body with responsive margins */
.flexible-cards .card-title,
.flexible-cards .card-body {
  margin: 0 var(--spacing-xxs);
}

/* Styles for card headings */
.flexible-cards h3 {
  font-size: var(--body-font-size-l);
  font-family: var(--font-family-semibold);
  margin-bottom: var(--spacing-xxs);
}

.flexible-cards h3 a {
  color: var(--color-nocturnal-blue);
}

.flexible-cards h3 a:is(:hover, :focus) {
  text-decoration: none;
}

/* Styles for card body paragraphs */
.flexible-cards .card-body {
  font-size: var(--body-font-size-s);
  margin-bottom: var(--spacing-s);
}

.flexible-cards .card-body p {
  margin: 0 0 var(--spacing-xs) 0;
}

/* Card album */

.card-album ul {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-padding: 0;
  scroll-snap-type: both mandatory;
  padding: 0 40px 40px;
}

.card-album ul li {
  max-width: 74dvw;
  min-width: 74dvw;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.card-album .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-album .card-heading {
  font-family: var(--font-family-semibold);
  margin: var(--spacing-s) 0;
}

.card-album .card-heading a {
  color: var(--color-nocturnal-blue);
}

.card-album .card-heading a:hover {
  text-decoration: none;
  color: var(--color-heart-red);
}

.card-album .card-body .button-container {
  margin: auto 0 0;
}

.card-album .card-image img, a {
  border-radius: 10px;
}

/* Cards responsive styling */

@media (width >= 600px) {
  .flexible-cards ul {
    column-count: 2;
    column-gap: var(--spacing-m);
  }

  /* Card album */

  .card-album ul li {
    max-width: 414px;
    min-width: 414px;
  }
}

/* Cards desktop styling */
@media (width >= 900px) {
  .flexible-cards ul {
    column-count: 3;
  }

  .flexible-cards .card-title,
  .flexible-cards .card-body {
    margin: 0 var(--spacing-xs);
  }

  /* Card album */

  .card-album ul {
    gap: 40px;
    padding: 0;
    overflow: hidden;
  }

  .card-album ul li {
    width: 33.3%;
    min-width: auto;
    max-width: 100%;
  }

  .card-album .card-image a {
    display: block;
    overflow: hidden;
    line-height: 0;
  }

  .card-album .card-image a img {
    transition: .5s;
  }

  .card-album .card-image >a:hover img {
    transform: scale(1.05);
  }
}


/* Feedback wrapper */
.feedback ul {
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
}

.feedback ul li {
  display: grid;
  border-top: 1px solid gold;
}

.feedback .card-image {
  grid-area: 1/1;
  position: relative;
  min-height: 250px;
}

.feedback .card-title {
  grid-area: 1 / 1;
  margin-top: auto;
  text-align: center;
  position: relative;
}

.feedback .card-title h3,
.feedback .card-title p  {
  color: white;
  margin: 0;
}

.feedback .card-title p {
  margin-bottom: 1rem;
}

.feedback .card-body {
  margin: 1rem 1rem 0;
  text-align: center;
}

.feedback .card-image:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.8337928921568627) 0%, rgba(0,0,0,0.6321122198879552) 30%, rgba(0,212,255,0) 100%);
}

@media (width >= 900px) {
  .feedback ul {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}